*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

#class{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

#parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

table,th,td{
border: 1px solid #e7e7e7;
}